.users-list {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  transform: translateY(30%);
  z-index: -1;
}

.users-list__section {
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  max-width: 90%;
  border-radius: 15px;
  border: 2px solid gainsboro;
}
